{% extends 'Topnavbar/base.html.twig' %}

{% set page_title = 'HR One - Communaute' %}
{% set page_class = 'page-communaute' %}
{% set page_css = 'communaute.css' %}
{% set page_key = 'communaute' %}

{% block content_title %}Communaute{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez la remplir plus tard.</p>
{% endblock %}
