{% extends 'Topnavbar/base.html.twig' %}

{% set page_title = 'HR One - Demande de conge' %}
{% set page_class = 'page-demande-conge' %}
{% set page_css = 'demande-conge.css' %}
{% set page_key = 'demande-conge' %}

{% block content_title %}Demande de conge{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez la remplir plus tard.</p>
{% endblock %}
