{% extends 'Topnavbar/base.html.twig' %}

{% set page_title = 'HR One - Evenements' %}
{% set page_class = 'page-evenements' %}
{% set page_css = 'evenements.css' %}
{% set page_key = 'evenements' %}

{% block content_title %}Evenements{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez la remplir plus tard.</p>
{% endblock %}
