{% extends 'Topnavbar/base.html.twig' %}

{% set page_title = 'HR One - Formations' %}
{% set page_class = 'page-formations' %}
{% set page_css = 'formations.css' %}
{% set page_key = 'formations' %}

{% block content_title %}Formations{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez la remplir plus tard.</p>
{% endblock %}
