{% extends 'Topnavbar/base.html.twig' %}

{% set page_title = 'HR One - Mes participations' %}
{% set page_class = 'page-participations' %}
{% set page_css = 'participations.css' %}
{% set page_key = 'participations' %}

{% block content_title %}Mes participations{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez la remplir plus tard.</p>
{% endblock %}
