<h2>Liste des outils</h2>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Executable</th>
            <th>Hash</th>
            <th>Cout Mensuel</th>
        </tr>
    </thead>
    <tbody>
        {% for tool in tools %}
            <tr>
                <td>{{ tool.Nom }}</td>
                <td>{{ tool.Executable }}</td>
                <td>{{ tool.Hash }}</td>
                <td>{{ tool["Cout Mensuel"]|number_format(2, ',', ' ') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>