{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Activity Watch' %}
{% set page_class = 'page-activity-watch' %}
{% set page_css = 'activity-watch.css' %}

{% block content_title %}Activity Watch{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
