{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Gestion administrative' %}
{% set page_class = 'page-gestion-administrative' %}
{% set page_css = 'gestion-administrative.css' %}

{% block content_title %}Gestion administrative{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
