{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Gestion des evenements' %}
{% set page_class = 'page-gestion-evenements' %}
{% set page_css = 'gestion-evenements.css' %}

{% block content_title %}Gestion des evenements{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
