{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Gestion des conges' %}
{% set page_class = 'page-gestion-conges' %}
{% set page_css = 'gestion-conges.css' %}

{% block content_title %}Gestion des conges{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
