{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Gestion des outils' %}
{% set page_class = 'page-gestion-outils' %}
{% set page_css = 'gestion-outils.css' %}

{% block content_title %}Gestion des outils{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
