{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Gestion des formations' %}
{% set page_class = 'page-gestion-formations' %}
{% set page_css = 'gestion-formations.css' %}

{% block content_title %}Gestion des formations{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
