{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Historique des actions' %}
{% set page_class = 'page-historique-actions' %}
{% set page_css = 'historique-actions.css' %}

{% block content_title %}Historique des actions{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
