{% extends 'navbarRH/base.html.twig' %}

{% set page_title = 'HR One - Gestion des utilisateurs' %}
{% set page_class = 'page-gestion-users' %}
{% set page_css = 'gestion-users.css' %}

{% block content_title %}Gestion des utilisateurs{% endblock %}

{% block content_body %}
  <p>Interface vide. Vous pouvez ajouter le contenu plus tard.</p>
{% endblock %}
