{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Employee FrontEnd/activity_watch.css') }}">
{% endblock %}

{% block body %}
    <div class="aw-wrapper">
        <iframe src="http://localhost:5600"></iframe>
    </div>
{% endblock %}