{% extends 'employee/layout.html.twig' %}

{% set activeTab = 'conges' %}

{% block title %}Gestion des congés{% endblock %}

{% block employee_content %}
<div class="table-section">
    <h2>Gestion des congés</h2>
    <p>Contenu à implémenter...</p>
</div>
{% endblock %}