{% extends 'employee/layout.html.twig' %}

{% set activeTab = 'outils' %}

{% block title %}Outils{% endblock %}

{% block employee_content %}
<div class="table-section">
    <h2>Gestion des outils</h2>
    <p>Contenu à implémenter...</p>
</div>
{% endblock %}