{% extends 'base.html.twig' %}

{% block title %}Espace Employe{% endblock %}

{% block body %}
    <section class="interface-shell">
        <div class="section-header">
            <div>
                <h1>Espace employe</h1>
                <p>Le profil `3` correspond a l employe. Cette zone est separee de l espace RH/Admin et de l espace candidat.</p>
            </div>
        </div>
    </section>
{% endblock %}
