{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="interface-shell">
        <div class="section-header">
            <div>
                <h1>{{ title }}</h1>
                <p>Interface reservee a l espace RH/Admin. Le module est lie a la bonne navbar et peut etre implemente ensuite.</p>
            </div>
        </div>
    </section>
{% endblock %}
